#tetriscanvas {
    display: block;
    border: 1px solid black;
}
#tetris {
    margin: 0 auto;
    width: 480px;
    height: 600px;
    text-align: center;
    clear: both;
    background: url("texture.jpg");
}
#tetris_buttons {
    margin: 0 auto;
    width: 480px;
    height: 100px;
    text-align: center;
    clear: both;
}
.btn {
    font-size: 1.5em;
    width: 80px;
    height: 80px;
}
#tetrisleft {
    width: 300px;
    min-width: 300px;
    height: 600px;
    float: left;
    margin: 0px;
}
#tetrisright {
    width: 180px;
    min-width: 180px;
    height: 600px;
    float: left;
    margin: 0px;
}
.clear {
    clear: left;
}
.info {
    text-align: left;
    margin-left: 24px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
h2{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
h3{
    font-size: 20%;
    margin-right: auto;

}
h4{
    color: chartreuse;
    font-size: 30px;
}
h5{
    color: chartreuse;
}
h6{
    color: chartreuse;
    font-size: 20px;
}
